/ActFirstDontThink/Temp
/ActFirstDontThink/Library
/ActFirstDontThink/ActFirstDontThink.CSharp.csproj
/ActFirstDontThink/ActFirstDontThink.sln
/ActFirstDontThink/ProjectSettings/ProjectVersion.txt
/ActFirstDontThink/.vs/ActFirstDontThink/v14/.suo
